.bkgrd {
    background: rgb(29, 180, 252);
    background: radial-gradient(circle, rgb(29, 180, 252) 0%, rgb(255, 255, 255) 100%);
}

.card-picture {
    width: 300px;
    height: 100%;
    max-width: calc(100% - 20px);
    padding: 2px 2px;
}

.card-text {
    width: 550px;
    height: auto;
    max-width: calc(100% - 20px);
    padding: 2px 2px;
}
