.bkgrd {
    height: 100vh;
    background: rgb(29, 180, 252);
    background: radial-gradient(circle, rgb(29, 180, 252) 0%, rgb(255, 255, 255) 100%);
}

.card-picture {
    width: 240px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 2px 2px;
}

.text-wide {
    width: inherit;
}

.card-text {
    width: 640px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 2px 2px;
}
